@font-face {
  font-family: "Raleway-Medium";
  src: url("./../fonts/Raleway/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("./../fonts/Raleway/Raleway-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
    url("./../fonts/Raleway/Raleway-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./../fonts/Raleway/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("./../fonts/Raleway/Raleway-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("./../fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("./../fonts/Raleway/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("./../fonts/Raleway/Raleway-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("./../fonts/Raleway/Raleway-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat-Bold"),
    url("./../fonts/Montserrat/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("./../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
