@import url("./font.scss");
@import url("./reset.scss");

:root {
  --dark-primary: #027be3;
  --dark-secondary: #26a69a;
  --dark-accent: #9c27b0;
  --dark-color: #1d1d1d;

  --positive-color: #21ba45;
  --negative-color: #c10015;
  --info-color: #31ccec;
  --warning-color: #fec608;
}
